# Node
node_modules/
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal
/generated/

# TypeScript
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

.vscode/